{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "es2017": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 2020
    },
    "rules": {
        "semi": "error"
    },
    "extends": [
        "eslint:recommended"
    ]
}